footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #E11910;
  border-top: 1px solid #ffc548;
  color: white;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#txt {
  font-family: 'Baywatch';
}

#number {
  font-weight: bold;
}



