h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #E11910;
}

#carousel {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#carousel button{
  height: 40px;
  font-size: 30px;
  width: 40px;
  border-radius: 100%;
  border-color: #ffb347;
  color: #ffb347;
}

