nav {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  color: #FFC548;
  height: 80px;
  background-color: #E11910;
  font-size: 20px;
  font-family: 'Baywatch';
  border-bottom: #FFC548 3px solid;
}

nav>a>span {
  margin: 0 10px 0 10px;
  padding : 5px;
  border-radius: 5px;
}

nav>a>span:hover {
  color: #FFC548;
}

nav>a>img {
  width: 60px;
  height: 60px;
  margin: 0 60px 0 40px;
  border-radius: 100%;
}

@media (max-width: 630px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  nav > a > img {
    margin: 10px 0;
  }
}



