<header>
  <nav>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img ngSrc="/assets/logo2.png" alt="logo" height="5461" width="5461"/>
    </a>
    <a routerLink="/liste" routerLinkActive="active" ariaCurrentWhenActive="page">
      <span>La liste</span>
    </a>
    <a routerLink="/partenariats" routerLinkActive="active" ariaCurrentWhenActive="page">
      <span>Partenariats</span>
    </a>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <span>Le planning</span>
    </a>
    <a routerLink="/partenariats" routerLinkActive="active" ariaCurrentWhenActive="page">
      <span>Cookies</span>
    </a>
  </nav>
</header>



