<h1>Nos partenaires</h1>

<div class="partners">
  <div class="partner">
    <a href="https://www.friterie-meunier.fr/" target="_blank">
        <img src="assets/partenaires/friterie_meunier.png" alt="Logo partenaire">
    </a>
    <h2>Friterie Meunier</h2>
    <p>La Friterie Meunier vous accueille à la place d'Armes de Valenciennes dans une ambiance chaleureuse et croustillante.</p>
  </div>

  <div class="partner">
    <a href="https://www.restaurantleon.fr/" target="_blank">
        <img src="assets/partenaires/leon_bruxelles.svg" alt="Logo partenaire">
    </a>
    <h2>Léon de Bruxelles</h2>
    <p>Vous en voulez-encore ? Double ration de frite au Léon de Bruxelles d'Aulnoy.</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/intersport.svg" alt="Logo partenaire">
    <h2>Intersport</h2>
    <p>Trop plein de frites ? Venez éliminer le surplus à l'Intersport d'Aulnoy et remettez vous tous en forme.</p>
  </div>

  <div class="partner">
    <a href="https://www.intersport.fr/" target="_blank">
        <img src="assets/partenaires/3brasseurs.png" alt="Logo partenaire">
    </a>
    <h2>3 Brasseurs</h2>
    <p>Après l'effort le réconfort ! Venez faire honneur à la région en dégustant une bière aux 3 Brasseurs de Petite Forêt.</p>
  </div>

  <div class="partner">
    <a href="https://passager23.fr/" target="_blank">
        <img src="assets/partenaires/passager23.png" alt="Logo partenaire">
    </a>
    <h2>Passager23</h2>
    <p>Dieux Scandinaves, expériences inédites ou voyage dans les rêves, enfermez-vous dans une salle d'escape game de Passager 23, situé place d'Armes.</p>
  </div>

  <div class="partner">
    <a href="https://www.shiatsu-valenciennes.com/" target="_blank">
        <img src="assets/partenaires/shiatsu.webp" alt="Logo partenaire">
    </a>
    <h2>Shiatsu</h2>
    <p>Profitez d'un massage typique japonais pour libérer votre Qi et rééquilibrer votre organisme au shiatsu de Valenciennes.</p>
  </div>

  <div class="partner">
    <a href="https://valenciennes.lasergame-evolution.fr/" target="_blank">
        <img src="assets/partenaires/laser_game.png" alt="Logo partenaire">
    </a>
    <h2>Laser Game</h2>
    <p>Les meilleurs tireurs s'y retrouvent, vous verra t'on au Laser Game de Valenciennes ?</p>
  </div>

  <div class="partner">
    <a href="https://satellium.fr/" target="_blank">
        <img src="assets/partenaires/sattelium.png" alt="Logo partenaire">
    </a>
    <h2>Bowling</h2>
    <p>Sur la piste je slide comme au bowling Sattelium, venez décaniller les quilles et vous y défouler.</p>
  </div>

</div>
