<app-menu></app-menu>
<div class="logo_central">
  <img ngSrc="/assets/bande_texte_derriere.png" alt="logo" height="3306" width="8192"/>
</div>

<app-cookie-popup></app-cookie-popup>

<div class="planning">
  <a routerLink="/planning" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img ngSrc="/assets/plannings/mercredi.png" alt="planning" height="493" width="793">
  </a>
</div>

<div class="separation"></div>

<app-best-photos-section></app-best-photos-section>

<div class="separation"></div>

<app-allos-carousel></app-allos-carousel>

<app-footer></app-footer>
