<app-menu></app-menu>
<div class="logo_central">
  <img ngSrc="/assets/bandeSansTexte.png" alt="logo" height="3306" width="8192"/>
</div>

<app-cookie-popup></app-cookie-popup>
<app-vote-button></app-vote-button>

<div class="planning">
  <a routerLink="/planning" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img ngSrc="/assets/plannings/mardi.png" alt="planning" height="493" width="793">
  </a>
</div>


<div class="separation"></div>

<div class="news-insta">
  <h1>V'NEZ TI PAS VOIR SQUI SPASSE SUR INSTA</h1>
  <div class="posts_instagram">
    <div class="post_instagram" *ngFor="let i of [0, 1, 2]">
      <img ngSrc="/assets/insta.png" alt="post instagram" height="706" width="503"/>
    </div>
  </div>
</div>

<app-best-photos-section></app-best-photos-section>

<app-allos-carousel></app-allos-carousel>

<app-footer></app-footer>
