.logo_central img {
  width: 100%;
  height: auto;
}

h1 {
  color: #E11910;
}

.planning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2rem 0 2rem 0;
}

.planning>img {
  width: 45%;
  height: auto;
}

.news-insta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.separation {
  margin: auto;
  border-bottom: #ffb347 2px solid;
  width: 75%;

}

.posts_instagram {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;

}

.post_instagram {
  display: flex;
  justify-content: center;
}

.post_instagram>img {
  width: 75%;
  height: auto;
}

.cookie-popup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


