.cookie-popup {
    position: fixed;
    bottom: 20px;
    width: 100%;
    left: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
