<app-menu></app-menu>

<h1>Nos partenaires</h1>

<div class="partners">
  <div class="partner">
    <img src="assets/partenaires/friterie_meunier.png" alt="Logo partenaire">
    <h2>Abigaelle Grioche</h2>
    <p>Team Alumni Asso</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/leon_bruxelles.svg" alt="Logo partenaire">
    <h2>Adrien Libourel</h2>
    <p>Team BDA</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/intersport.svg" alt="Logo partenaire">
    <h2>Albane Escudie</h2>
    <p>Secrétaire</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/3brasseurs.png" alt="Logo partenaire">
    <h2>Amaury Cottignies</h2>
    <p>Trésorier</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/passager23.png" alt="Logo partenaire">
    <h2>Ambre Degenetais</h2>
    <p>Vice-présidente</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/shiatsu.webp" alt="Logo partenaire">
    <h2>Antoine Chevaillier</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/laser_game.png" alt="Logo partenaire">
    <h2>Antoine Ferrand</h2>
    <p>Team Com</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/sattelium.png" alt="Logo partenaire">
    <h2>Artus Sallard</h2>
    <p>Trésorier</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/sattelium.png" alt="Logo partenaire">
    <h2>Aubin Dollet</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/friterie_meunier.png" alt="Logo partenaire">
    <h2>David Hoareau</h2>
    <p>Président</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/leon_bruxelles.svg" alt="Logo partenaire">
    <h2>Denis Murier</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/intersport.svg" alt="Logo partenaire">
    <h2>Elisa Gatto</h2>
    <p>Team Com</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/3brasseurs.png" alt="Logo partenaire">
    <h2>Elise Million</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/passager23.png" alt="Logo partenaire">
    <h2>Emma Eschenbrenner</h2>
    <p>Team Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/shiatsu.webp" alt="Logo partenaire">
    <h2>Emy Creusot</h2>
    <p>Team BDA</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/laser_game.png" alt="Logo partenaire">
    <h2>Etienne André</h2>
    <p>Team E-BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/sattelium.png" alt="Logo partenaire">
    <h2>Florent Dernoncourt</h2>
    <p>Prez BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/sattelium.png" alt="Logo partenaire">
    <h2>Florent Leblond</h2>
    <p>Team Com</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/friterie_meunier.png" alt="Logo partenaire">
    <h2>Guillaume Garbarini</h2>
    <p>Vice-président</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/leon_bruxelles.svg" alt="Logo partenaire">
    <h2>Guillaume Launeau</h2>
    <p>Team E-BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/intersport.svg" alt="Logo partenaire">
    <h2>Jade Filiber</h2>
    <p>Prez Com</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/3brasseurs.png" alt="Logo partenaire">
    <h2>Jean Georgel</h2>
    <p>Team BDA</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/passager23.png" alt="Logo partenaire">
    <h2>Julien Cherdel</h2>
    <p>Team Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/shiatsu.webp" alt="Logo partenaire">
    <h2>Julien Vincent</h2>
    <p>Team Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/laser_game.png" alt="Logo partenaire">
    <h2>Kiméa Di Cioccio Cochet</h2>
    <p>Team Com</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/sattelium.png" alt="Logo partenaire">
    <h2>Kyllian Chesnel</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/sattelium.png" alt="Logo partenaire">
    <h2>Lisa Steck</h2>
    <p>Team Partenariats</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/friterie_meunier.png" alt="Logo partenaire">
    <h2>Manon Bouchi-Lamontagne</h2>
    <p>Team Alumni Asso</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/leon_bruxelles.svg" alt="Logo partenaire">
    <h2>Manon Pepino</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/intersport.svg" alt="Logo partenaire">
    <h2>Mathis Lévêque</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/3brasseurs.png" alt="Logo partenaire">
    <h2>Nathan Lusson</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/passager23.png" alt="Logo partenaire">
    <h2>Nathan Primel</h2>
    <p>Team Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/shiatsu.webp" alt="Logo partenaire">
    <h2>Pierre Degardin</h2>
    <p>Prez Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/laser_game.png" alt="Logo partenaire">
    <h2>Quentin Aspro</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/sattelium.png" alt="Logo partenaire">
    <h2>Roxane Laurent-Tamanti</h2>
    <p>Prez BDA</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/sattelium.png" alt="Logo partenaire">
    <h2>Salomé Blake</h2>
    <p>Team BDA</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/laser_game.png" alt="Logo partenaire">
    <h2>Simon Bellini</h2>
    <p>Team Partenariats</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/friterie_meunier.png" alt="Logo partenaire">
    <h2>Taiyo Degarate</h2>
    <p>Team Com</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/leon_bruxelles.svg" alt="Logo partenaire">
    <h2>Théo Marie</h2>
    <p>Team Partenariats</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/intersport.svg" alt="Logo partenaire">
    <h2>Thomas Courtellemont</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/3brasseurs.png" alt="Logo partenaire">
    <h2>Tom-Alexandre Boucher</h2>
    <p>Team Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/passager23.png" alt="Logo partenaire">
    <h2>Tom Boucher</h2>
    <p>Prez Partenariats</p>
  </div>

  <div class="partner">
    <img src="assets/partenaires/shiatsu.webp" alt="Logo partenaire">
    <h2>Vanessa Potazcala</h2>
    <p>Team Soirée</p>
  </div>



</div>
