<app-menu></app-menu>

<h1>Nos chers sauveteurs</h1>

<h2>Le bureau</h2>
<div class="partners">
  <div class="partner">
    <img src="assets/membres/david_hoareau.JPG" alt="Logo partenaire">
    <h2>David Hoareau</h2>
    <p>Président</p>
  </div>

  <div class="partner">
    <img src="assets/membres/ambre_degenetais.JPG" alt="Logo partenaire">
    <h2>Ambre Degenetais</h2>
    <p>Vice-présidente</p>
  </div>

  <div class="partner">
    <img src="assets/membres/guillaume_garbarini.JPG" alt="Logo partenaire">
    <h2>Guillaume Garbarini</h2>
    <p>Vice-président</p>
  </div>

  <div class="partner">
    <img src="assets/membres/albane_escudie.JPG" alt="Logo partenaire">
    <h2>Albane Escudie</h2>
    <p>Secrétaire</p>
  </div>

  <div class="partner">
    <img src="assets/membres/amaury_cottignies.JPG" alt="Logo partenaire">
    <h2>Amaury Cottignies</h2>
    <p>Trésorier</p>
  </div>

  <div class="partner">
    <img src="assets/membres/artus_sallard.JPG" alt="Logo partenaire">
    <h2>Artus Sallard</h2>
    <p>Trésorier</p>
  </div>

</div>

<h2>BDA</h2>
<div class="partners">
  <div class="partner">
    <img src="assets/membres/roxane_lt.JPG" alt="Logo partenaire">
    <h2>Roxane Laurent-Tamanti</h2>
    <p>Prez BDA</p>
  </div>

  <div class="partner">
    <img src="assets/membres/jean_georgel.JPG" alt="Logo partenaire">
    <h2>Jean Georgel</h2>
    <p>Team BDA</p>
  </div>

  <div class="partner">
    <img src="assets/membres/adrien_libourel.JPG" alt="Logo partenaire">
    <h2>Adrien Libourel</h2>
    <p>Team BDA</p>
  </div>

  <div class="partner">
    <img src="assets/membres/emy_creusot.JPG" alt="Logo partenaire">
    <h2>Emy Creusot</h2>
    <p>Team BDA</p>
  </div>

  <div class="partner">
    <img src="assets/membres/salomé_blake.JPG" alt="Logo partenaire">
    <h2>Salome Blake</h2>
    <p>Team BDA</p>
  </div>
</div>

<h2>BDS</h2>
<div class="partners">
  <div class="partner">
    <img src="assets/membres/florent_dernoncourt.JPG" alt="Logo partenaire">
    <h2>Florent Dernoncourt</h2>
    <p>Prez BDS</p>
  </div>

  <div class="partner">
    <img src="assets/membres/antoine_chevallier.png" alt="Antoine Chevallier">
    <h2>Antoine Chevallier</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/membres/aubin_dollet.JPG" alt="Logo partenaire">
    <h2>Aubin Dollet</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/membres/denis_murier.JPG" alt="Logo partenaire">
    <h2>Denis Murier</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/membres/elise_million.JPG" alt="Logo partenaire">
    <h2>Elise Million</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/membres/kyllian_chesnel.JPG" alt="Logo partenaire">
    <h2>Kyllian Chesnel</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/membres/manon_pepino.JPG" alt="Logo partenaire">
    <h2>Manon Pepino</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/membres/mathis_leveque.JPG" alt="Logo partenaire">
    <h2>Mathis Leveque</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/membres/nathan_lusson.JPG" alt="Logo partenaire">
    <h2>Nathan Lusson</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/membres/quentin_aspro.JPG" alt="Logo partenaire">
    <h2>Quentin Aspro</h2>
    <p>Team BDS</p>
  </div>

  <div class="partner">
    <img src="assets/membres/thomas_courtellemont.JPG" alt="Logo partenaire">
    <h2>Thomas Courtellemont</h2>
    <p>Team BDS</p>
  </div>
</div>

<h2>Com</h2>
<div class="partners">
  <div class="partner">
    <img src="assets/membres/jade_filiber.JPG" alt="Logo partenaire">
    <h2>Jade Filiber</h2>
    <p>Prez Com</p>
  </div>

  <div class="partner">
    <img src="assets/membres/antoine_ferrand.JPG" alt="Logo partenaire">
    <h2>Antoine Ferrand</h2>
    <p>Team Com</p>
  </div>

  <div class="partner">
    <img src="assets/membres/elisa_gatto.JPG" alt="Logo partenaire">
    <h2>Elisa Gatto</h2>
    <p>Team Com</p>
  </div>

  <div class="partner">
    <img src="assets/membres/florent_leblond.JPG" alt="Logo partenaire">
    <h2>Florent Leblond</h2>
    <p>Team Com</p>
  </div>

  <div class="partner">
    <img src="assets/membres/kimea_dcc.JPG" alt="Logo partenaire">
    <h2>Kimea Di Cioccio Cochet</h2>
    <p>Team Com</p>
  </div>

  <div class="partner">
    <img src="assets/membres/taiyo_degarate.JPG" alt="Logo partenaire">
    <h2>Taiyo Degarate</h2>
    <p>Team Com</p>
  </div>
</div>

<h2>Soirée</h2>

<div class="partners">
  <div class="partner">
    <img src="assets/membres/pierre_degardin.JPG" alt="Logo partenaire">
    <h2>Pierre Degardin</h2>
    <p>Prez Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/membres/emma_eschen.jpg" alt="Emma Eschenbrenner">
    <h2>Emma Eschenbrenner</h2>
    <p>Team Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/membres/julien_cherdel.JPG" alt="Logo partenaire">
    <h2>Julien Cherdel</h2>
    <p>Team Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/membres/julien_vincent.JPG" alt="Logo partenaire">
    <h2>Julien Vincent</h2>
    <p>Team Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/membres/nathan_primel.JPG" alt="Logo partenaire">
    <h2>Nathan Primel</h2>
    <p>Team Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/membres/tomalex_boucher.JPG" alt="Logo partenaire">
    <h2>Tom-Alexandre Boucher</h2>
    <p>Team Soirée</p>
  </div>

  <div class="partner">
    <img src="assets/membres/vanessa_potazcala.JPG" alt="Logo partenaire">
    <h2>Vanessa Potazcala</h2>
    <p>Team Soirée</p>
  </div>
</div>

<h2>E-BDS</h2>
<div class="partners">
  <div class="partner">
    <img src="assets/membres/etienne_andre.JPG" alt="Logo partenaire">
    <h2>Etienne Andre</h2>
    <p>Team E-BDS</p>
  </div>

  <div class="partner">
    <img src="assets/membres/guillaume_launeau.JPG" alt="Logo partenaire">
    <h2>Guillaume Launeau</h2>
    <p>Team E-BDS</p>
  </div>
</div>

<h2>Partenariats</h2>
<div class="partners">
  <div class="partner">
    <img src="assets/membres/tom_boucher.JPG" alt="Logo partenaire">
    <h2>Tom Boucher</h2>
    <p>Prez Partenariats</p>
  </div>

  <div class="partner">
    <img src="assets/membres/lisa_steck.JPG" alt="Logo partenaire">
    <h2>Lisa Steck</h2>
    <p>Team Partenariats</p>
  </div>

  <div class="partner">
    <img src="assets/membres/simon_bellini.JPG" alt="Logo partenaire">
    <h2>Simon Bellini</h2>
    <p>Team Partenariats</p>
  </div>

  <div class="partner">
    <img src="assets/membres/theo_marie.JPG" alt="Logo partenaire">
    <h2>Theo Marie</h2>
    <p>Team Partenariats</p>
  </div>
</div>

<h2>Alumni Asso</h2>
<div class="partners">
  <div class="partner">
    <img src="assets/membres/abi_grioche.JPG" alt="Logo partenaire">
    <h2>Abigaelle Grioche</h2>
    <p>Team Alumni Asso</p>
  </div>

  <div class="partner">
    <img src="assets/membres/manon_bl.JPG" alt="Logo partenaire">
    <h2>Manon Bouchi-Lamontagne</h2>
    <p>Team Alumni Asso</p>
  </div>

</div>



